
h1, h2, h3, h4, h5 {
    font-family:    	"georgia";
}

h1 {
	color: 				white;
	background-color: 	black;
	padding:			0.5em;
	margin:             0em
}

h2, h3 {
	color: 				black;
	border-bottom: 		solid 1px black;
	margin-top: 		1.5em 
}

p, span {
    font-family:       sans
}

body {
    margin: 			0em;
    padding: 			0em;
    width: 				80%;
    margin-left: 		10%;
    margin-right: 		10%
}

div.profile {
	display:			block;
	border:				0em;
	margin: 			0em;
	padding: 			0em;
	padding-left: 		10%;
    padding-right: 		10%
	
}

div.picture {
	display:			table-cell;
	border:				0em
}

div.description {
	display:			table-cell;
	padding:			2em;
	margin:				1.2em;
	margin-top:			0em;
	padding-top:		0em;
	border:				0em
}

div.article {
	padding-left: 		10%;
	padding-right: 		10%;
	margin-bottom:		3em
}

div.topnav {
	padding:			0em;
	padding-left:		10%;
	padding-right:		10%;
	margin:				0.5em
}

div.linklist {
	border-left:		solid black 0.5em;
	background: 		#f3f3f3;
	text-align: 		center;
}

div.main-panel {
    display:            table;
    table-layout:       fixed;
    width:              100%;
    margin:             0 auto;
    margin-top:         1em
}

div.panel-img {
    display:            table-cell;
    width:              55%;
    vertical-align:     middle
}

div.panel-links {
    display:            table-cell;
    width:              45%;
    vertical-align:     middle;
    padding:            1em;
    padding-left:       3em
}

p.desc {
    font-style:         italic;
    margin:             0em;
    padding:            1em;
    padding-top:        1.5em
}

p.para {
    margin:             0px;
    padding-left:       1em;
    padding-right:      1em;
    padding-bottom:     0.5em;
    padding-top:        0.5em
}

span.topnav {
	margin-left: 		0em;
	margin-top:       0.9em;
	margin-bottom:    0.9em
}

span.dummy {
	height:				0.1px;
	margin:				0em;
	padding:			0em;
	border:				0em;
	font-size:			1px
}

span.link {
	color:				black;
	font-size:			1.5em;
	padding:			0.5em;
	margin-top: 		0.5em;
	display:			block;
	max-width:			60%;
	min-width:			5em
}

span.link2 {
	color:				black;
	font-size:			1.0em;
	font-weight:		bold;
	padding:			0.5em;
	margin-top: 		0.5em;
	margin-left:		1em;
	display:			block;
	max-width:			80%;
	min-width:			5em;
	border-left:		solid #990000 0.5em
}

span.linklist {
	color:				black;
	font-size:			1.5em;
	padding:			0.5em;
	margin-top: 		0.5em;
	display:			table-cell;
	max-width:			60%;
	min-width:			5em;
	text-align:			center
}

span.linklist:hover {
	background-color:	black;
	color:				white
}


span.link:hover, span.link2:hover {
	background-color:	black;
	color:				white
}

a {
	color:				black;
	text-decoration:	none;
	border-bottom:		1px dotted black
}

a.img {
	text-decoration:	none;
	border-bottom:		none

}

a:visited {
	color:				#3F3D3D
}

a.nav {
	text-decoration:	none;
	color:				inherit
}

a.linklist {
	display:			table-cell;
	border: 			none
}

a.topnav {
	color:				#bb0000
}

img.float {
	float:				right;
	padding:			0.2em;
	padding-left:		1em;
	margin:				0em
}

